.side-nav {
  width: 10%;
  height: 100vh;
  background-color: #e60000;
  position: fixed;
  align-items: center;
}
.nav-head {
  color: #66ffff;
  padding: 15px;
  font-size: 15px;
}
p {
  text-align: center;
}
div a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 15px;
}
#content-body h1 {
  background-color: #4747d1;
  height: 95px;
  padding: 20px;
}
#content-body {
  margin-left: 10%;
}
